h1{
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}
#addBtn{
    background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

li {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    padding: 5px;
    background: #f5f5f5;
    border-radius: 4px;
    
}

li button {
    border: none;
    background: #ff4444;
    color: white;
   padding: 3px 8px; 
    cursor: pointer;
    border-radius: 3px;
}


li button:hover {
    background: red;
}
#gList input[type="checkbox"]{
  
  margin-left: auto;
}
#clrBtn{
   background-color: gray;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}






